    @font-face {
        font-family: 'Poppins';
        src:  url('fonts/poppins.eot?6zubex');
        src:  url('fonts/poppins.eot?6zubex#iefix') format('embedded-opentype'),
          url('fonts/poppins.ttf?6zubex') format('truetype'),
          url('fonts/poppins.woff?6zubex') format('woff'),
          url('fonts/poppins.svg?6zubex#poppins') format('svg');
        font-weight: normal;
        font-style: normal;
      }